[Desktop Entry]
Name=ScalaCollider
Version=1.12.0
GenericName=ScalaCollider
Comment=ScalaCollider Standalone Application
Exec=java -Xmx1024m -jar /home/hhrutz/Documents/devel/ScalaColliderSwing/ScalaCollider.jar
StartupWMClass=de-sciss-synth-swing-Main
Icon=/home/hhrutz/Documents/devel/ScalaColliderSwing/icons/application.png
Categories=Development;Audio;Music;
Terminal=false
Type=Application
